div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-track {
  background: white;
  border-radius: 5px;
}

div::-webkit-scrollbar-thumb {
  background-color: rgb(107, 114, 128);
  border-radius: 5px;
}

div {
  scrollbar-width: 8px;
  scrollbar-color: rgb(107, 114, 128) white;
}
